body {
                background-image: url('http://bloggingexperiment.com/wp-content/uploads/am/contents/2009/08/OS-X-Wallpaper.jpg');
                font-family: 'Raleway', sans-serif;
                background-size: cover;
            }
            .container{
                margin-top: 13%;
                height: 250px;
                opacity: 0.8;
                border-radius: 8px;
            }
            #login img{
                margin: 10px 0;
            }
            #login .center {
                text-align: center;
            }

            #login .login {
                max-width: 300px;
                margin: 35px auto;
            }

            #login .login-form{
            padding:0px 25px;
            }
            #login h1 {
                margin-bottom: 20px;
            }
            #login span{
                width: 25px;
                height: 30px;
            }
            #login input{
                height: 30px;
            }
            hr{
                width: 200px;
                border-top: 1px solid #f8f8f8;
                border-bottom: 1px solid rgba(0,0,0,0.2);
                margin: 0 auto;
            }
            
        

li {
  display: inline;
}

h1{
	text-align:center;
	
}
h2{
	text-align:center;
	
}